.notify-card{
    display: flex;
    text-align: center;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #c4e3f8;
}
.notify-card:nth-child(even){
    background-color: #E0F2FE;
}