.content{
    position: absolute;
    color: rgb(0, 0, 0);
    text-align: center;
}
h1{
    align-items: center;
    text-align: center;
}
#dolphin-image {
    position: absolute;
    left: 5%;
    top: 5%;
    /* bottom: 0;
    right: 10%; */
    width: 100px;
    animation: swim 5s linear infinite;
}
.explore-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #3B82F6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}