.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #E0F2FE;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.content{
    position: absolute;
    color: rgb(0, 0, 0);
    text-align: center;
}
h1{
    align-items: center;
    text-align: center;
}
#sea-image {
    opacity: 30%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
